:root {
    --bg-light: #f8f9fa;
    --dark-grey-color: rgb(88, 88, 88);
    --light-grey-color: rgb(176, 176, 176);
    --brand-color: rgb(13, 189, 196);
    --light-brand-color: rgb(94, 233, 238);
    
    --transp-brand-color: rgba(138, 233, 238, 0.800);
}

/********************** NAV-BAR ************************/

.navbar {
    background-color: var(--dark-grey-color);
    color: whitesmoke;
}

.nav-item {
    border-radius: 0.25em;
    color: whitesmoke;
}

.nav-item:hover, .nav-item.active {
    color: var(--dark-grey-color);
    background-color: whitesmoke;
    font-weight: bold;
}

#login {
    font-size: 2rem;
}

#authentication a, #login {
    color: whitesmoke;
}

#authentication a:hover, #login:hover {
    color: var(--brand-color);
    text-decoration: none;
}

#admin {
    padding: 0.25em;
    background-color: var(--light-grey-color);
}

#admin:hover {
    background-color: var(--brand-color);
}

.profile-img {
    object-fit: cover;
}

#sub-menu {
    background-color: var(--light-grey-color);
    color: whitesmoke;
}

#sub-menu .navbar-brand {
    background-color: #f8f9fa;
    border-bottom-right-radius: 1em;
}

#sub-menu .nav-item {
    color: black;
}

#sub-menu .nav-item:hover {
    font-weight: bolder;
    background-color: transparent;
}

#sub-menu .active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-position: under;
    background-color: transparent;
}


#menu-option a {
    color: var(--dark-grey-color);
    text-decoration: none;
    font-size: 1.35em;
}

#menu-option a:hover {
    color: var(--brand-color);
}

/*********************** FOOTER ************************/

footer {
    background-color: var(--dark-grey-color);
    color: whitesmoke;
}

/* -------------------- MAIN-TABS --------------------- */
.main-tab button {
    border: none;
    background-color: transparent;
}

.main-tab button:focus {
    outline: none;
}

.main-tab div:first-child > h3 {
    font-size: 1.5em;
}

/* ---------------------- OTHER ----------------------- */

/* BUTTON HOVER */

.border-hover:hover {
    border-color: var(--dark-grey-color) !important;
    opacity: .9;
}

/* FONT */

body * {
    font-family: 'Roboto', sans-serif;
}

html, body {
    min-height: 100%;
    background-color: var(--bg-light);
}

/* PROGRESS BAR */

.work-progress .progress, .time-progress .progress {
    height: 10px;
}

/* BRAND BUTTON */

#brand-btn button, #search, #action-btn {
    background-color: var(--brand-color);
    color: white;
}

#brand-btn button:hover, #search:hover, #action-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

#brand-btn a, #search a {
    color: inherit;
    text-decoration: none;
}


#project {
    color: black;
    text-decoration: none;
    transition: 1s;
}

#project.card a:hover {
    color: var(--brand-color);
}

#project.card {
    border: 1px solid darkgrey;
    background-color: white;
}

#project.card a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

#project.card a.float-right i {
    font-size: 1.3em;
}

a.float-right i.fa-times, a.float-right i.fa-plus, a.float-right i.fa-user-tie {
    cursor: pointer;
}

/* Error Page */

#error-text {
    font-family: 'Comfortaa', sans-serif;
    color: var(--dark-grey-color);
    font-size: 3rem;
}

#error-text span {
    color: var(--brand-color);
}