#forum-header > div:first-child {
    border-bottom: solid var(--brand-color) 4px;
}

#forum a {
    text-decoration: none;
    color: black;
}

div.sticky {
    background-color: var(--light-brand-color);
    border-color: var(--light-grey-color);
}

.notification {
    width: 3em;
}

.border-hover:hover {
    border-color: var(--dark-grey-color);
    opacity: .9;
}

.fa-angle-down, .fa-angle-up, .fa-plus-circle {
    font-size: 2rem;
    color: var(--dark-grey-color);
}

.fa-angle-down:hover, .fa-angle-up:hover, .fa-plus-circle:hover {
    color: var(--brand-color);
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

i:hover {
    cursor: pointer;
    font-weight: bold;
}