#search-content .card {
    border: none;
    background-color: transparent;
}

#search-content .card a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

#search-content .card a.float-right i {
    font-size: 1.3em;
}

#search-content .restore > .card-body > img, #search-content .restore > .card-body > span {
    opacity: 0.5;
}

#search-content .card a:hover {
    color: var(--brand-color);
}

#search-content .card-header {
    background-color: transparent;
    border-bottom: solid var(--brand-color) 3px;
}

#search-content .profile {
    background-color: white;
    border: solid var(--dark-grey-color) 1px;
    border-radius: 0.5em;
}

#search-button:hover {
    background-color: transparent;
}

#action-button a {
    background-color: var(--brand-color);
    border: solid var(--brand-color) 1px;
}

#search-content .card .card-body #action-button a {
    color: white;
}

#search-content .card .card-body #action-button a:hover {
    color: var(--brand-color);
    background-color: transparent;
}

#action-button button {
    background: none;
    border: none;
    color: inherit;
}