#content span {
    padding: 0em 0.25em;
    color: var(--brand-color);
}

#content.container {
    height: 88vmin;
}

#filter label {
    cursor: pointer;
    color: black;
    background-color:lightgrey;
}

#filter label.active {
    cursor: default;
    color: white;
    background-color: var(--brand-color);
}

#looking-img {
    max-height: 300px;
}

p#question{
    font-size: 2em;
}

#search-content .card a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
} 

#search-content .card a.float-right i {
    font-size: 1.3em;
}

#search-content .card {
    border: 1px solid darkgrey;
    background-color: transparent;
}

#search-content .restore > .card-body > img, #search-content .restore > .card-body > span {
    opacity: 0.5;
}

#search-content .card a:hover {
    color: var(--brand-color);
}