#menu-options .nav-item {
    color: black;
    background-color:lightgrey;
}

#menu-options a {
    color: inherit;
    text-decoration: none;
}

#menu-options a.active {
    color: white;
    background-color: var(--brand-color);
}

#search-content .card {
    border: 1px solid darkgrey;
    background-color: white;
}

#search-content .card a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

#search-content .card a.float-right i {
    font-size: 1.3em;
}

#search-content .restore > .card-body > img, #search-content .restore > .card-body > span {
    opacity: 0.5;
}

#search-content .card a:hover {
    color: var(--brand-color);
}

#create .col-sm- {
    border-radius: 0.35em; 
    background-color: var(--brand-color);
}

#create .col-sm-:hover {
    cursor: pointer;
    background-color: transparent;
}

#create .col-sm-:hover a {
    color: var(--brand-color);
}

#create .col-sm- a {
    font-size: 1.3em;    
    color: white;
    text-decoration: none;
}

#team-name {
    font-weight: bold;
    color: var(--brand-color);
}

#edit-button {
    border-radius: 0.5em;
    background-color: rgb(209, 209, 209);
}

#search-content .col-sm-4 .card-body #edit-button:hover {
    color: white;
    background-color: var(--brand-color);
}

#project {
    color: black;
    text-decoration: none;
    transition: 1s;
    background-color: rgb(233, 233, 233);
}
