:root {
    --bg-light: #f8f9fa;
    --dark-grey-color: rgb(88, 88, 88);
    --light-grey-color: rgb(176, 176, 176);
    --brand-color: rgb(13, 189, 196);
    --light-brand-color: rgb(94, 233, 238);
}

html, body {
    height: 100%;
    background-color: rgb(230, 230, 230);
}

body * {
    font-family: 'Roboto', sans-serif;
}

#main-menu {
    background-color: var(--dark-grey-color);
    color: whitesmoke;
}

#main-menu .nav-item {
    border-radius: 0.25em;
    color: whitesmoke;
}

#main-menu .nav-item:hover {
    color: var(--dark-grey-color);
    background-color: whitesmoke;
    font-weight: bold;
}

#authentication a {
    color: whitesmoke;
    text-decoration: none;
}

#authentication a:hover {
    color: var(--brand-color);
}

#admin {
    padding: 0.25em;    
    background-color: var(--brand-color);
}

#admin:hover {
    background-color: var(--light-grey-color);
}

.profile-img {
    object-fit: cover;
}


#menu-options .col-sm-3 {
    border: solid var(--dark-grey-color) 2px;
    border-radius: 0.35em; 
    text-align: center;
}

#menu-options .col-sm-3 a {
    color: black;
    text-decoration: none;
    width: 100%;
}

#menu-options .col-sm-3 a:hover{
    font-weight: bold;
}

#menu-options .active {
    background-color: var(--brand-color);
}

#menu-options .active a {
    color: white;
}

#search-content .card {
    border: 2px solid darkgrey;
    background-color: white;
}

#search-content .card a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

#search-content .card a.float-right i {
    font-size: 1.3em;
}

#search-content .restore > .card-body > img, #search-content .restore > .card-body > span {
    opacity: 0.5;
}

#search-content .card a:hover {
    color: var(--brand-color);
}

#create .col-sm- {
    border: solid var(--dark-grey-color) 2px;
    border-radius: 0.35em; 
    background-color: var(--brand-color);
}

#create .col-sm- a {
    font-size: 1.3em;    
    color: white;
    text-decoration: none;
}

#team-name {
    font-weight: bold;
    color: var(--brand-color);
}

#edit-button {
    border-radius: 0.5em;
    border: solid rgb(49, 49, 49) 2px;
    background-color: rgb(209, 209, 209);
}

#search-content .col-sm-4 .card-body #edit-button:hover {
    color: white;
    background-color: var(--brand-color);
}

#project {
    color: black;
    text-decoration: none;
    transition: 1s;
    background-color: rgb(233, 233, 233);
}

footer {
    color: var(--brand-color);
    background-color: var(--dark-grey-color);
}