:root {
    --bg-light: #f8f9fa;
    --dark-grey-color: rgb(88, 88, 88);
    --light-grey-color: rgb(176, 176, 176);
    --brand-color: rgb(13, 189, 196);
    --dark-brand-color: rgb(3, 141, 146);
    --light-brand-color: rgb(94, 233, 238);
}

html, body {
    height: 100%;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#main-menu, footer {
    background-color: var(--dark-grey-color);
    color: whitesmoke;
}

#main-menu .nav-item {
    border-radius: 0.25em;
    color: whitesmoke;
}

#main-menu .nav-item:hover {
    color: var(--dark-grey-color);
    background-color: whitesmoke;
    font-weight: bold;
}

#authentication a {
    color: whitesmoke;
}

#authentication a:hover {
    color: var(--light-brand-color);
    text-decoration: none;
}

.profile-img {
    object-fit: cover;
}

#sub-menu {
    background-color: var(--light-grey-color);
    color: whitesmoke;
}

#sub-menu .navbar-brand {
    background-color: #f8f9fa;
    border-bottom-right-radius: 1em;
}

#sub-menu .nav-item {    
    color: black;
}

#sub-menu .nav-item:hover {
    font-weight: bolder;
}

#sub-menu .active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-position: under;
}


#menu-option .col-sm-4 a {
    color: var(--dark-grey-color); 
    text-decoration: none;
    font-size: 1.35em;
}

#menu-option .col-sm-4 a:hover {
    color: var(--brand-color);
}

#search-content .card {
    border: none;
    background-color: transparent;
}

#search-content .card a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

#search-content .card a.float-right i {
    font-size: 1.3em;
}

#search-content .restore > .card-body > img, #search-content .restore > .card-body > span {
    opacity: 0.5;
}

#search-content .card a:hover {
    color: var(--brand-color);
}

#search-content .card-header {
    background-color: transparent;
    border-bottom: solid var(--brand-color) 3px;
}

#search-content .profile {
    background-color: white;
    border: solid var(--dark-grey-color) 1px;
    border-radius: 0.5em;
}

#search-button:hover {
    background-color: transparent;
}

#action-button a {
    background-color: var(--brand-color);
    border: solid var(--dark-grey-color) 2px;
}

#search-content .card .card-body #action-button a {
    color: white;
}

#search-content .card .card-body #action-button a:hover {
    color: var(--brand-color);
    background-color: transparent;
}

footer {
    color: var(--brand-color);
    background-color: var(--dark-grey-color);
}