:root {
    --bg-light: #f8f9fa;
    --dark-grey-color: rgb(88, 88, 88);
    --light-grey-color: rgb(176, 176, 176);
    --brand-color: rgb(13, 189, 196);
    --light-brand-color: rgb(94, 233, 238);
}

html, body {
    height: 100%;
    background-color: var(--bg-light);
}

.navbar, footer {
    background-color: var(--dark-grey-color);
    color: whitesmoke;
}

#error-text {
    font-family: 'Comfortaa', sans-serif;
    color: var(--dark-grey-color);
    font-size: 3rem;
}

#error-text span {
    color: var(--brand-color);
}
