div.main-tab {
    background-color: var(--bg-light);
}

div.main-tab {
    border: 2px solid var(--brand-color);
}

.collapse-element {
    width: 8em;
}

.collapse-element > a.collapsed > .fa-angle-up, .collapse-element > a[aria-expanded=true] > .fa-angle-down {
    display: none;
}

.task {
    width: 14em;
    height: 17em;
}

.task.card h6 a{
    color: inherit;
    text-decoration: none;
}

.task.card h6 a:hover{
    color: var(--brand-color);
    text-decoration: none;
}

.task > .card-title {
    border-bottom: 2px solid;
}

section.sticky {
    background-color: var(--transp-brand-color);
    border-color: var(--light-grey-color);
}

.notification {
    width: 3em;
}

.fa-angle-down, .fa-angle-up, .fa-plus-circle {
    font-size: 2rem;
    color: var(--dark-grey-color);
}

.fa-angle-down:hover, .fa-angle-up:hover, .fa-plus-circle:hover {
    color: var(--brand-color);
}

#companyForum {
    color: var(--dark-grey-color);
    text-decoration: none;
}

#companyForum:hover {
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}

#side-forum .container a {
    text-decoration: none;
    color: black;
}

@media (min-width: 992px) {
    #side-forum {
        position: fixed;
        right: 0em;
        height: calc(100vh - 145px);
        border-left: 1px solid var(--light-grey-color);
    }
}