:root {
    --bg-light: #f8f9fa;
    --dark-grey-color: rgb(88, 88, 88);
    --light-grey-color: rgb(176, 176, 176);
    --brand-color: rgb(13, 189, 196);
    --dark-brand-color: rgb(3, 141, 146);
    --light-brand-color: rgb(94, 233, 238);
}

html {
    height: 100%;
    background-color: var(--bg-light);
}

body {
    min-height: 100%;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#menu-option .col-sm-4 a {
    color: var(--dark-grey-color); 
    text-decoration: none;
    font-size: 1.35em;
}

#menu-option .col-sm-4 a:hover {
    color: var(--brand-color);
}

#create .col-sm- {
    border-radius: 0.3em; 
    background-color: var(--brand-color);
}

#create a, #create .fa-plus-circle {
    font-size: 1.3em;    
    color: white;
    text-decoration: none;
}

#create .col-sm-:hover {
    background-color: white;
}

#create a:hover, #create a:hover .fa-plus-circle {
    color: var(--brand-color);
    border-radius: 0.3em;
    border: 1px solid var(--brand-color);
}

#add-group:hover {
    color: var(--brand-color);
    cursor: pointer;
}

.nav-tabs .nav-link[aria-selected="false"] {
    color: #495057;
}

div.main-tab {
    background-color: var(--bg-light);
}

div.main-tab {
    border: 2px solid var(--brand-color);
}

div.open {
    background-color: #f1f2f3; 
}

.main-tab > div > h3 {
    font-size: 1.5em;
}

.task-group {
    height: calc(100vh - 190px);
}

.tab-content {
    background-color: white;
}

.collapse-element {
    width: 8em;
}

.collapse-element > a.collapsed > .fa-angle-up, .collapse-element > a[aria-expanded=true] > .fa-angle-down{
    display: none;
}

a.card, .roadmap a, .card a, #discusion #comment-header a, .team.card a{
    color: inherit;
    text-decoration: none;
}

a.card:hover, .roadmap a:hover {
    color: inherit;
    text-decoration: none;
}

a.project {
    border-top: 4px solid;
}

.task {
    width: 14em;
    height: 14em;
}

section.sticky {
    background-color: var(--light-brand-color);
    border-color: var(--light-grey-color);
}

.notification {
    width: 3em;
}

.roadmap-diagram {
    border: 3px solid var(--dark-brand-color);
}

.milestone {
    background-color: var(--bg-light);
    position: relative;
    z-index: 1;
}

.roadmap-left {
    border-bottom: 2px solid var(--dark-brand-color);
    position: relative;
    top: 22px;
    z-index: 0;
}

.roadmap-right {
    border-bottom: 2px dotted var(--dark-brand-color);
    position: relative;
    bottom: 21px;
    z-index: 0;  
}

.roadmap ~ .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.milestone-description {
    width: 7.5em;
    position: relative;
}

.milestone-info {
    width: 6em;
    border-bottom: none;
}

.milestone-info[aria-expanded=true] {
    border-bottom: 4px solid;
}

.milestone-info.collapsed:hover {
    border-bottom: 4px solid var(--light-grey-color) !important;
}

.fa-circle, .fa-dot-circle {
    font-size: 1.5rem;
    color: var(--dark-brand-color);
}

.border-hover:hover {
    border-color: var(--dark-grey-color) !important;
    opacity: .9;
}

i.hover-icon {
    display: none;
}

.fa-angle-down, .fa-angle-up, #side-forum .fa-plus-circle {
    font-size: 2rem;
    color: var(--dark-grey-color);
}

.fa-angle-down:hover, .fa-angle-up:hover, #side-forum .fa-plus-circle:hover, .fa-edit:hover, .fa-link:hover, .fa-trash-alt:hover {
    color: var(--brand-color);
    cursor: pointer;
}

@media (min-width: 992px) {
    #side-forum {
        position: fixed;
        right: 0em;
        height: calc(100vh - 190px);
        border-left: 1px solid var(--light-grey-color);
    }
}

.team {
    width: 14em;
}
.team.card {
    border: 2px solid darkgrey;
    background-color: white;
}

.team.card a.float-right i {
    font-size: 1.3em;
}

#team-name {
    font-weight: bold;
    color: var(--brand-color);
}

.team-name {
    font-weight: bold;
    color: var(--brand-color);
}

#comment-header h6 a:hover, .team.card a:hover, .team.card h6 , .task.card h6 a:hover{
    color: var(--brand-color);
    text-decoration: none;
}
