html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(230, 230, 230);
}

.container-fluid {
    height: 100%;
}

.navbar {
    height: 10%;
    background-color: grey;
    opacity: 0.9;
    
    font-size: 1.5em;
}

a {
    font-family: 'Comfortaa', sans-serif;
    color:whitesmoke;
}

.navbar-brand {
    margin-right: 2em;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
}

.navbar-brand:hover{
    color:whitesmoke;
}

.navbar-nav li a:hover {
    color: rgb(13, 189, 196);
    font-weight: bold;
}

#authentication {
    margin-bottom: 1em;
    
}

#home {
    background-image: url("./background.jpg");
    background-size: cover;
}

/* *********************************/

#nav-pos {
    height: 10%;
}

.img-fluid {
    max-width: 45%;
}

#idea-img {
    margin-top: 1.5em;
}

.d-flex {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.5vw;
}

span {
    padding: 0em 0.25em;
    color: rgb(13, 189, 196);
}


/* *********************************/

#founders {
    height: 90%;
}

.thumbnail {
    margin: 45% auto;
    
}

.thumbnail img {
    height: 40%;
    width: 100%;
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail p {
    margin: 2em auto;
    text-align: center;
    color: black;
}

.thumbnail p:hover {
    color: rgb(13, 189, 196);
}